<footer class="pied large" id="contact">
    <ul class="cntPied">
        <li class="facebook"><a href="facebook.com" class="social"><img src="images/facebook.jpg" alt="Facebook" class="sociaux"></a></li>
        <li><p class="num"><i class="fa-solid fa-phone deco2"></i>&nbsp;&nbsp;<i class="fa brands fa-whatsapp deco"></i>&nbsp;
            +226 76 52 94 99 / 70 03 52 94 / 78 30 49 00 / 60 23 87 69 &nbsp;<i class="fa brands fa-whatsapp deco"></i>&nbsp;</p></li>
        <li class="mail"><a href="gmail.com" class="social "><img src="images/gmail.png" alt="Gmail" class="sociaux"></a></li>
    </ul>
    <!-- <div class="right">
        <h5>From Scratch (); 2022.<span>All Rights Reserved</span></h5>
    </div> -->
</footer>