
<header class="header grid1 large" id="head">
   
    <div class="fixe">
        <div class="header-nav sec1">
            <span class="slogan"> Passer vos commandes maintenant et faites vous livrer!! <i class="fa solid fa-truck livrer"></i></span>
            <div class="compte">
                <i class="fa fa-user utilisateur"></i>
                <ul class="identité police">
                    <li><a href="inscription.html">Inscription</a></li>
                    <li><a href="connexion.html">Connexion</a></li>
                </ul>
            </div>
        </div>
            
        {% include nav-links.html %}
    
        <a href="index.html" class="header-logo sec3">
            <img src="images/Logo Le Boucher du Coin sf_Plan de travail 1.png" alt="Logo Boucher du Coin">
        </a>
        {% include menu.html %}
    </div>
       
</header>