<div class="header-nav sec2">
    <ul class="nav-link police">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="detailsPayment.html">Mon compte</a></li>
        <li><a href="#head">Mon panier</a></li>
        <li><a href="#contact">Contactez-nous</a></li>
        <li class="chrch"><input type="search" placeholder="Rechercher..." id="search" class="search">
            <label for="search" class="loupe fa-solid fa-magnifying-glass loupe"></label>
       </li>
    </ul>    
</div>